* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/9c363af5-4750-4f14-87d1-8125f5276db0/web/IN-en-20251027-TRIFECTA-perspective_b68b1528-3a10-4997-9f99-48ccbdb86626_small.jpg");
  background-size: cover;        
  background-position: center;     
  background-repeat: no-repeat;    
   opacity: 0.6;
  z-index: -1; 

  background-color: rgba(0, 0, 0, 0.5);
}
.ne{

      width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

   align-items: center ;

justify-content: space-around;

    gap:20px ;
  padding: 25px 60px;

  position: fixed;
  /* top: 0;
  left: 0; */
}
